.button {
    display: inline;
    float: right; 
    margin-right: 70px;
    padding: 8px;
     margin-bottom: 30px;
    font-weight: bold;
    font-size: 15px;
    background-color: #56CCF2;
    border: none;
    border-radius: 4%;
    color: white;
    cursor: pointer;
}